<div id="telaLogin" layout="row" layout-align="center center">
  <form name="login.formLogin" layout="column" flex="20" ng-submit="login.logar()">
    <div layout="row" layout-align="center">
      <h1>GENOS</h1>
    </div>
    <md-input-container>
      <label>Email</label>
      <md-icon>account_circle</md-icon>
      <input name="usuario" ng-model="login.user.usuario" type="email" ng-minlength="6" maxlength="50" required>
      <div ng-messages="login.formLogin['usuario'].$error">
        <div ng-message="required">Campo Obrigatório</div>
        <div ng-message="email">Email Inválido</div>
        <div ng-message="minlength">O Email Deve Ter, Pelo Menos, 6 Caracteres</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Senha</label>
      <md-icon>vpn_key</md-icon>
      <input name="senha" ng-model="login.user.senha" type="password" ng-minlength="6" maxlength="14" required>
      <div ng-messages="login.formLogin['senha'].$error">
        <div ng-message="required">Campo Obrigatório</div>
        <div ng-message="minlength">A Senha Deve Ter, Pelo Menos, 6 Caracteres</div>
      </div>
    </md-input-container>
    <input type="submit" class="md-button md-primary md-raised" value="Entrar" ng-disabled="login.formLogin.$invalid">
  </form>
</div>
